<title>Digial Notebook - Register</title>

{% include '../components/header.html' %}
{% include '../components/navbar.html' %}



<div class="container mx-auto px-10 py-8 md:w-1/2 w-full h-fit bg-gradient-to-b from-sky-500 to-violet-400 rounded-xl">
    <h1 class="text-3xl font-bold text-white mb-8">Register</h1>

    {% if success %}
    <p class="bg-gradient-to-r from-green-500 to-lime-300 w-full rounded-full px-6 py-3 my-6 text-white font-bold">{{ success }}</p>
    {% endif %}

    {% if failed %}
    <p class="bg-gradient-to-r from-red-600 to-red-600 w-full rounded-full px-6 py-3 my-6 text-white font-bold">{{ failed }}</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input required type="text" name="username" id="username" placeholder="Username..." class="bg-transparent border-b-2 focus:outline-none px-3 py-2 text-white placeholder-slate-200 w-full mb-6 rounded-xl">
        <input required type="email" name="email" id="email" placeholder="Email..." class="bg-transparent border-b-2 focus:outline-none px-3 py-2 text-white placeholder-slate-200 w-full mb-6 rounded-xl">
        <input required type="password" name="password" id="password" placeholder="Password..." class="bg-transparent border-b-2 focus:outline-none px-3 py-2 text-white placeholder-slate-200 w-full mb-6 rounded-xl">
        <input required type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password..." class="bg-transparent border-b-2 focus:outline-none px-3 py-2 text-white placeholder-slate-200 w-full mb-8 rounded-xl">
        <input type="submit" value="Sign-Up" class="bg-gradient-to-r from-cyan-400 to-yellow-200 px-8 py-3 rounded-full text-slate-600 font-bold hover:opacity-75 mb-4">
    </form>
    <a href="loginpage" class="text-white underline">Login existing user...</a>
</div>




{% include '../components/footer.html' %}